<h1>Display your Pirate here</h1>
<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Height: <%=@pirate.height%></p>
<p>Pirate Weight: <%=@pirate.weight%></p>
<h2>Display your first ship here</h2>
<p>Ship Name: <%=@ships[0].name%></p>
<p>Ship Type: <%=@ships[0].type%></p>
<p>Ship Booty: <%=@ships[0].booty%></p>
<h2>Display your second ship here</h2>
<p>Ship Name: <%=@ships[1].name%></p>
<p>Ship Type: <%=@ships[1].type%></p>
<p>Ship Booty: <%=@ships[1].booty%></p>
